<!DOCTYPE HTML>
<html xmlns:th="http://thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<a href="/add/products">here</a></p>
<a href="/add/purchases">here</a></p>
<a href="/add/storage">here</a></p>
<a href="/add/suppliers">here</a></p>

<p>Get your greeting <a href="/greeting">here</a></p>
</body>
</html>
